.DivmAin {
  background-color: rgba(255, 255, 255, 0.573);
  border-radius: 15px;
  padding: 8px 0px;
  text-align: center;
  margin-top: 0px;
  z-index: 5;
  position: relative;
  bottom: 10px;
  width: 100%;
}
.spanTeXt {
  text-decoration: underline;
  color: rgba(107, 3, 107, 0.859);
  cursor: pointer;
}
.a2name {
  text-decoration: none;
  color: rgba(107, 3, 107, 0.727);
  position: relative;
  cursor: pointer;
}
.a2name::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(107, 3, 107);
  transition: 0.5s;
}
.a2name:hover:before {
  width: 100%;
  background-color: rgb(107, 3, 107);
}
.a2name:hover {
  color: rgb(107, 3, 107);
  font-weight: 500;
}
@media (max-width: 424px) {
  .a2name {
    display: block;
  }
}
@media (max-width: 1335px) {
  .DivmAin {
    /* position: fixed; */
    bottom: 90px;
  }
}
@media (max-width: 425px) {
  .DivmAin {
    bottom: 95px;
    padding: 0px 0px;
  }
}